<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>

    <section class="hero"></section>

    <section class="destacados">
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
    </section>

    <section class="blog">
        <article>
            <div class="imagen">
                <img src="https://placehold.it/250x250" alt="">
            </div>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, accusantium sed laborum ab rerum delectus mollitia velit eligendi ad, veritatis animi reprehenderit enim molestias soluta quae quidem consequatur, porro dolorum.</p>
        </article>

        <article id="segundo">
            <div class="imagen">
                <img src="https://placehold.it/250x250" alt="">
            </div>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, accusantium sed laborum ab rerum delectus mollitia velit eligendi ad, veritatis animi reprehenderit enim molestias soluta quae quidem consequatur, porro dolorum.</p>
        </article>

        <article >
            <div class="imagen">
                <img src="https://placehold.it/250x250" alt="">
            </div>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, accusantium sed laborum ab rerum delectus mollitia velit eligendi ad, veritatis animi reprehenderit enim molestias soluta quae quidem consequatur, porro dolorum.</p>
        </article>
    </section>

    <footer>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </footer>
</body>
</html>