p {
    font-family: Arial, Helvetica, sans-serif;
}

.primero {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: bold;
}
.segundo {
    font-family: Roboto;
}